ul {
    padding-inline-start: 2rem;
}

#error {
    padding: 1rem;
}

.unit-form {
    margin-top: 20vh;
    position: sticky;
    top: 6rem;
    display: flex;
    gap: 0.5rem;
    background-color: transparent;
}

.unit-form input {
    flex: 1;
    min-width: 100px;
    background-color: rgba(255, 255, 255, 1.0);
}

.convert-number {
    display: inline-block;
    text-align: end;
    min-width: 8ch;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.unit-h1 {
    font-size: 2rem;
}

@media (max-width: 420px) {
    .unit-h1 {
        font-size: 1.75rem;
    }
}

#results {
    scroll-margin-top: 10rem;
}
