.output-line {
    margin: 1rem;
}

.random-output {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.random-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.random-row input {
    flex: 1;
    min-width: 4rem;
    max-width: 12rem;
}

@media (max-width: 500px) {
    .random-row button {
        padding-inline: 1rem;
        flex: 1;
    }
}