ul {
    list-style-type: none;
}

.w-list-item,
.e-list-item {
    margin-bottom: 1em;
}

.w-list-item button,
.e-list-item button {
    padding: 0.25rem 0.5rem;
}

.workout-create-form,
.exercise-create-form {
    display: flex;
    gap: 0.5rem;
}

#w-sets,
#e-reps {
    width: 70px;
}

#w-name,
#e-name {
    max-width: 200px;
    min-width: 50px;
    flex: 1;
}

.workout-options {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.workout-options button {
    flex: 1;
    white-space: nowrap;
}

.training-exercise-title {
    padding-inline: 2rem;
}

.training-exercise-title.fade {
    color: #aaa;
    padding-block: 0.5rem;
}

.training-workout-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 0.5rem;
}

.training-workout-title button {
    padding: 0rem;
}

.training-control-buttons {
    padding-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.training-info-message {
    padding: 1rem 1rem 1.5rem;
}

@media (max-width: 440px) {
    .training-control-buttons {
        position: absolute;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
    }

    .training-control-buttons button {
        flex: 1;
    }
}

.message {
    margin: 1rem;
}

*:focus-visible {
    outline: 2px solid #222;
}