*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: #222;
    background: #fefefe;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    padding: 1em;
}

header,
footer {
    padding: 1em;
}

header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(4px);
    background: linear-gradient(white, transparent);
}

h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
}

h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}

button {
    padding: 0.25em 2em;
    cursor: pointer;
}

input {
    padding: 0.25em;
}

ul {
    list-style-type: none;
}

.w-list-item, .e-list-item {
    margin-bottom: 1em;
}

.w-list-item button, .e-list-item button {
    padding: 0.25rem 0.5rem;
}

.workout-create-form, .exercise-create-form {
    display: flex;
    gap: 0.5rem;
}

#w-sets, #e-reps {
    width: 70px;
}

#w-name, #e-name {
    max-width: 200px;
    min-width: 50px;
    flex: 1;
}

.training-exercise-title {
    padding-inline: 2rem;
}

.training-exercise-title.fade {
    color: #aaa;
    padding-block: 0.5rem;
}

.training-workout-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 0.5rem;
}

.training-workout-title button {
    padding: 0rem;
}

.training-control-buttons {
    padding-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.training-info-message {
    padding: 1rem 1rem 1.5rem;
}

@media (max-width: 440px) {
    .training-control-buttons {
        position: absolute;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
    }

    .training-control-buttons button {
        flex: 1;
    }
}
